<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
<div th:replace="cabecalho :: head"></div>

	<title>Crud Manager - Form Curso</title>
</head>

<body>
	<div class="container my-2">
		<h2>Curso</h2>
		<form  th:action="@{/class/register}" method="POST" th:object="${class}" action="#" >
			<input type="hidden" id="id" th:field="*{id}">
			
			<span class="text-danger"
				  th:if="${#fields.hasErrors('name')}"
				  th:errors="*{name}">
			</span>
			<input type="text" placeholder="Nome do Curso" class="form-control mb-4 col-4" th:field="*{name}"> 
			
			<span class="text-danger"
				  th:if="${#fields.hasErrors('description')}"
				  th:errors="*{description}">
			</span>
			<input type="text" placeholder="Descrição" class="form-control mb-4 col-4" th:field="*{description}">
			
			<span class="text-danger"
				  th:if="${#fields.hasErrors('duration')}"
				  th:errors="*{duration}">
			</span>
			<input type="text" placeholder="Duração" class="form-control mb-4 col-4" th:field="*{duration}">
			
			<span class="text-danger"
				  th:if="${#fields.hasErrors('level')}"
				  th:errors="*{level}">
			</span>
			<input type="text" placeholder="Nível" class="form-control mb-4 col-4" th:field="*{level}">
			
			<button type="submit" class="btn btn-info col-2">Salvar</button>
		</form>
		
		<hr>
		
		<a th:href="@{/class}">Curso</a>
		
		
	</div>
</body>
</html>